.chart-area {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    padding: 10vh 10vw 10vh 10vw;
    text-align: center;
    height: 80;
    /* border-bottom: 1px solid rgb(255, 255, 255, 0.1); */
}

/* .sorted {
    align-self: center;
    z-index: 999;
    position: absolute;
    margin: 0 auto;
    color: blue;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: pop-text 2s ease-in 1;
    -webkit-animation: pop-text 2s ease-in 1;
    visibility: hidden;
}
 */