.progress-bar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: transparent;
    height: 0.3vh;
    margin-bottom: 50px;
}

.progress-bar {
    width: 100%;
    background: var(--bar-color-default);
}