.legend-icon-container {
    margin-right: 30px;
    margin-bottom: 5px;
    border-radius: 12px !important;
    font-size: small;

}


.legend-icon-container>span {
    padding-top: 5px;
    letter-spacing: 0.15rem;
}