@import './themes/base.css';
@import './themes/light.css';

@media only screen and (max-width: 767px) {
    .ui.container {
        width: auto !important;
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
}

/* @font-face {
    font-family: ProductSans;
    src: url(product_sans_bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: ProductSans;
    src: url(product_sans_regular.ttf);
} */


pre {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    height: 100vh;
}

.content-row {
    height: 110vh;
}

.content-column {
    height: 100vh;
}

.footer {
    width: 50vw;
    padding: 50px 0 30px 0;
    color: var(--title-text-color);
    font-size: smaller;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.footer .ui.divider {
    opacity: 0.5;
    padding-bottom: 20px;
}

.footer span {
    opacity: 0.7;
}